body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  .container h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    
    margin: 0;
  }
  
  .aboutimg{

    height: max-content;
  }
  
  
  .container {
    max-width: 800px;
    margin: 70px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .member {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  section {
    justify-content: center;
    align-items: center;
  }
  .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .member h2 {
    margin: 10px 0;
  }
  
  .member h3 {
    margin: 5px 0;
    color: #999;
  }
  
  .member p {
    color: #666;
    padding: 100px;
    margin: 100px;
  }
  

  