{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="about.css">
{% endblock head %}
{% block title %}
About US-
{% endblock title %}
{% block body %}
<section>
  <br>
    <h1>About Us</h1>
    <div class="container">
      <div class="member">
        <img class="abouimg" src="/static/images/bip.png" alt="Team Member 1">
        <h2>Biplov Gautam</h2>
        <h3>Developer</h3>
        <p>I am student who recently finished class 12 board examination. And this is the website that i built in my free as a project as it will help me to gain some skill in web development.</p>
      </div>
    </div>
  </section>
{% endblock body%}