{% extends 'base.html'%}
{% block title %}
Home -
{%endblock title%}
{% block body %}
<script src="/static/js/index.js"></script>

<section>
  <div id="particles-js"></div>
  <script src="/static/js/particles.js"></script>
  <script src="/static/js/app.js"></script>
   <div class="mainpg" id="main-page-text">
  <h1>Laxmi Bee Keeping</h1><br>
  <h3>Experienced More Than 15+ Years ></h3>
  <h3>The Best Place To Get Yourself Sweetest And Healthiest Honey.</h3>
  
  </div>
  <div class="start" id="downstart">
    <div id="starttext"><u><a href="#getstart">get started<ion-icon name="chevron-down-outline"></ion-icon></a></u></div><br>
    
  </div> 
</section> 
<section >
  <div  class="video" id="getstart">
    <center><h2 class="yttitle">Watch Our Intro Video</h2><center>
    <iframe class="ytvideo" src="https://www.youtube.com/embed/iZH6ZvnmFBs?&autoplay=1&mute=0" title="YouTube video player" frameborder="0"  allow="  accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    </div>
</section>

{%endblock body%}